<mat-card-title class="h3">Practioner Visualizer</mat-card-title>

<div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>
<mat-card-title class="h3">Organization: {{organization}}</mat-card-title>

<mat-card-title  class="h3">
  <button mat-button color="primary" (click)="getTheAudioFile(organization)">
    <mat-icon (click)="playTheAudio()">play_arrow</mat-icon>
    <audio id="myAudio" controls autoplay>
      <source src="{{path}}" type="audio/ogg">
    </audio>
  </button>
</mat-card-title>


