<div class="wrapper">
  <div class="one">
    <mat-card-title class="h3"> Patients List </mat-card-title>
    <div *ngFor="let patient of patientData">
      <mat-card mat-raised-button color="primary"
              (click)="allMethodCall($event.target.innerHTML);
                       "
               >{{patient.resource.id}}</mat-card>

    </div>
    <br>
    <button class="h3" mat-raised-button color="primary" (click)="getPreviousPatients(count, urlPrevious)">Previous</button>
    <button class="h3" mat-raised-button color="primary" (click)="getNextSetOfData(count, urlNext)">Next</button>
    <br>
    <hr>
    <button mat-raised-button color="primary" (click)="changeShowStatus()">Visualize Resource</button>
    <button mat-raised-button color="primary" (click)="changeShowStatus()">Visualize Practioners</button>
  </div>
  <div class="two">
    <app-patient-chart *ngIf="showHide" [doughnutChartData]="doughnutChartData"></app-patient-chart>
    <app-practioners *ngIf="showHide" [tenDetail]="tenDetail"></app-practioners>
  </div>
</div>

